body {
  background-color: #0d0d0d;
}

/* .menu-images-container .layer {
  position: absolute;
  background-color: whitesmoke;
  transition: all 0.5s !important;
}

.menu-images-container:hover .layer {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */

.menu-images-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.overlay-layer {
  position: absolute;
  top: 100%;

  bottom: 100%;
  left: 0;

  right: 0; /* Set right to cover the entire width */

  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.639);
  opacity: 0;
  transition: all 0.3s ease;
}

.menu-images-container:hover .overlay-layer {
  top: 0;
  bottom: 0;
  opacity: 1;
}

.btn a {
  text-decoration: none;
}
a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

.text-inside-anchor {
  cursor: pointer;
}
